<div class="container">
  <nav class="navbar">
    <ul>
      <li><mat-icon>view_headline</mat-icon></li>
      <li>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <path
            d="M20,17A2,2 0 0,0 22,15V4A2,2 0 0,0 20,2H9.46C9.81,2.61 10,3.3 10,4H20V15H11V17M15,7V9H9V22H7V16H5V22H3V14H1.5V9A2,2 0 0,1 3.5,7H15M8,4A2,2 0 0,1 6,6A2,2 0 0,1 4,4A2,2 0 0,1 6,2A2,2 0 0,1 8,4Z"
          />
        </svg>
      </li>
      <li>List of Tutorials</li>
    </ul>
    <ul>
      <li>Post Production</li>
      <li><mat-icon>fullscreen</mat-icon></li>
      <li><mat-icon>notifications</mat-icon></li>
      <li><mat-icon>help</mat-icon></li>
      <li><img src="../../assets/img/en.png" alt="" /></li>
      <li><mat-icon>person</mat-icon>FERIAWAN Satya</li>
    </ul>
  </nav>
</div>
