<button mat-button (click)="toggleLanguage()">
  {{ currentLanguage === "en" ? "EN" : "FR" }}
</button>
<form
  [formGroup]="userForm"
  (ngSubmit)="onSubmit()"
  class="p-grid p-dir-column p-d-flex p-jc-center container"
>
  <h2 class="p-col-12">{{ "userCreationPage.title" | translate }}</h2>

  <mat-form-field appearance="fill" class="p-col-6">
    <mat-label>{{ "userCreationPage.name" | translate }}</mat-label>
    <input
      matInput
      type="text"
      id="name"
      formControlName="name"
      placeholder="your name"
    />
    <div
      *ngIf="
        userForm.get('name')?.invalid &&
        (userForm.get('name')?.dirty || userForm.get('name')?.touched)
      "
      class="alert"
    >
      <div *ngIf="userForm.get('name')?.errors?.['required']">
        Name is required.
      </div>
      <div *ngIf="userForm.get('name')?.errors?.['pattern']">
        please input string only
      </div>
    </div>
  </mat-form-field>

  <mat-form-field class="p-col-6">
    <mat-label>{{ "userCreationPage.age" | translate }}</mat-label>
    <input matInput type="number" id="age" formControlName="age" />
    <div
      *ngIf="
        userForm.get('age')?.invalid &&
        (userForm.get('age')?.dirty || userForm.get('age')?.touched)
      "
    >
      <div *ngIf="userForm.get('age')?.errors?.['required']">
        Age is required.
      </div>
      <div *ngIf="userForm.get('age')?.errors?.['min']">minimum age is 10</div>
      <div *ngIf="userForm.get('age')?.errors?.['pattern']">
        pelase just input number
      </div>
    </div>
  </mat-form-field>

  <mat-radio-group class="p-col-12" formControlName="gender">
    <mat-label>{{ "userCreationPage.gender" | translate }}</mat-label>
    <!-- <input matInput type="text" id="gender"  /> -->
    <mat-radio-button value="Male">
      {{ "userCreationPage.male" | translate }}
    </mat-radio-button>
    <mat-radio-button value="Female">
      {{ "userCreationPage.female" | translate }}</mat-radio-button
    >
    <mat-radio-button value="Other">
      {{ "userCreationPage.other" | translate }}
    </mat-radio-button>
  </mat-radio-group>

  <mat-form-field class="p-col-6">
    <label for="position">{{ "userCreationPage.position" | translate }}</label>
    <mat-select formControlName="position">
      <mat-option value="FrontEnd">FrontEnd</mat-option>
      <mat-option value="BackEnd">BackEnd</mat-option>
      <mat-option value="QualityAssurance">{{
        "userCreationPage.qa" | translate
      }}</mat-option>
    </mat-select>
    <!-- <input matInput type="text" id="position"  /> -->
  </mat-form-field>

  <mat-form-field class="p-col-6">
    <label>{{ "userCreationPage.email" | translate }}</label>
    <input matInput type="email" id="email" formControlName="email" />
  </mat-form-field>

  <mat-form-field class="p-col-6">
    <label for="maritalStatus">{{
      "userCreationPage.maritalStatus" | translate
    }}</label>
    <mat-select id="maritalStatus" formControlName="maritalStatus">
      <mat-option value="Married">
        {{ "userCreationPage.married" | translate }}
      </mat-option>
      <mat-option value="Single">
        {{ "userCreationPage.single" | translate }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div formArrayName="addresses">
    <div
      *ngFor="let address of addresses.controls; let i = index"
      [formGroupName]="i"
    >
      <div>Address</div>
      <div>
        <mat-form-field class="p-col-6">
          <mat-label>{{ "userCreationPage.addresses" | translate }}</mat-label>
          <input matInput type="text" id="address" formControlName="address" />
        </mat-form-field>

        <mat-form-field class="p-col-6">
          <mat-label for="zipCode">{{
            "userCreationPage.zipCode" | translate
          }}</mat-label>
          <input
            matInput
            type="number"
            id="zipCode"
            formControlName="zipCode"
          />
        </mat-form-field>

        <mat-form-field class="p-col-6">
          <mat-label for="city">{{
            "userCreationPage.city" | translate
          }}</mat-label>
          <input matInput type="text" id="city" formControlName="city" />
        </mat-form-field>

        <mat-form-field class="p-col-6">
          <mat-label>{{ "userCreationPage.country" | translate }}</mat-label>
          <input matInput type="text" id="country" formControlName="country" />
        </mat-form-field>

        <button mat-mini-fab color="primary" (click)="removeAddress(i)">
          --
        </button>
      </div>
    </div>
  </div>

  <button mat-mini-fab color="primary" (click)="addAddress()">Add</button>

  <!-- [disabled]="userForm.invalid" -->
  <button mat-raised-button color="primary" type="submit">
    {{ "userCreationPage.save" | translate }}
  </button>
  <button mat-mini-fab color="primary" type="button" (click)="goBack()">
    Back
  </button>
</form>
