<div class="container">
  <div>
    <app-search></app-search>
    <app-breadcumb></app-breadcumb>
  </div>
  <div id="grid-container">
    <div id="box-1">
      <app-nav-bar></app-nav-bar>
    </div>
    <div id="box-2">
      <app-tumbnail></app-tumbnail>
      <app-about></app-about>
    </div>
    <div id="box-3">3</div> 
    <div id="box-4">4</div>
    <div id="box-5">5</div>
    <div id="box-6">6</div>
    <div id="box-7">7</div>
    <div id="box-8">8</div>
    <div id="box-9">9</div>
    <div id="box-10">10</div>
    <div id="box-11">11</div>
    <div id="box-12">12</div>
    <div id="box-13">13</div>
    </div>
</div>



