<mat-sidenav-container class="container">
  <mat-sidenav #sidenav class="sidenav-container">
    <!-- Sidenav content -->
    <h2>Sidenav Content</h2>
    <ul>
      <li>s</li>
      <li>b</li>
    </ul>
  </mat-sidenav>

  <mat-sidenav-content class="content-container">
    <!-- Main content -->
    <button mat-button (click)="openSidenav()">
      <mat-icon>menu</mat-icon>
    </button>

    <div (click)="onBackdropClick()">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
