<div class="card">
  <div class="card-body">
    <h5 class="card-title">Edit Post</h5>
    <form (ngSubmit)="updatePost()" class="container">
      <mat-form-field>
        <mat-label for="editTitle">Title</mat-label>
        <input matInput type="text" [(ngModel)]="title" name="title" />
      </mat-form-field>
      <mat-form-field>
        <mat-label for="editBody">Body</mat-label>
        <textarea
          matInput
          [(ngModel)]="body"
          name="body"
          rows="3"
          placeholder="Enter body"
        ></textarea>
      </mat-form-field>
      <button
        mat-raised-button
        color="accent"
        type="submit"
        class="btn btn-primary"
      >
        Update
      </button>
    </form>
  </div>
</div>
