<div>
  <h1>Post List</h1>
  <button mat-raised-button color="primary" routerLink="/create">
    <mat-icon>add_circle</mat-icon>Create
  </button>
  <mat-grid-list cols="3" rowHeight="200">
    <mat-grid-tile *ngFor="let post of posts" class="container">
      <mat-card class="card">
        <mat-card-header>
          <mat-card-title
            >{{ post.title | slice : 0 : 20
            }}{{ post.title.length > 20 ? "..." : "" }}</mat-card-title
          >
        </mat-card-header>
        <mat-card-content class="content">
          <p>
            {{ post.body | shorten : 20 }}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <!-- <a routerLink="/create" class="btn btn-primary">Create Post</a>
          <a [routerLink]="['/edit', post.id]" class="btn btn-primary">
            Edit Post
          </a> -->
          <button
            mat-raised-button
            color="accent"
            [routerLink]="['/edit', post.id]"
          >
            <mat-icon>edit</mat-icon>
            Edit Post
          </button>
          <button mat-raised-button color="warn" (click)="deletePost(post.id)">
            <mat-icon>delete</mat-icon>
            Delete
          </button>
          <!-- <button mat-raised-button color="primary" (click)="editPost(post)">
            Edit
          </button> -->
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>

  <mat-paginator
    [pageSizeOptions]="[5, 10, 25, 100]"
    showFirstLastButtons
  ></mat-paginator>

  <!-- <mat-paginator
    [length]="109"
    [pageSize]="12"
    [pageSizeOptions]="[5, 10, 25, 109]"
    aria-label="Select page"
  >
  </mat-paginator>

  <h1>Create New Post</h1>
  <form (submit)="createPost()">
    <div>
      <label for="">Title</label>
      <input type="text" id="title" [(ngModel)]="newPost.title" />
    </div>
    <div>
      <label for="">Body</label>
      <input type="text" id="body" [(ngModel)]="newPost.body" />
    </div>
    <button mat-raised-button color="primary" type="submit">Create</button>
  </form>
  <button mat-raised-button color="primary" (click)="createPost()">
    TEST SUBMIT
  </button> -->
</div>
