.card {
  width: 400px;
  height : 150px;
}

.content{
  height: 120px;
}
h1{

  text-align: center;
}

mat-card-actions{
  display: flex;
  justify-content: flex-end;
}
button{
  margin-left: 10px;
}