<div class="card">
  <div class="card-body">
    <h5 class="card-title">Create Post</h5>
    <form (ngSubmit)="createPost()" class="container">
      <mat-form-field>
        <mat-label>Title</mat-label>
        <input
          matInput
          type="text"
          id="createTitle"
          [(ngModel)]="title"
          name="title"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Body</mat-label>
        <textarea
          matInput
          id="createBody"
          [(ngModel)]="body"
          name="body"
          rows="3"
        ></textarea>
      </mat-form-field>
      <button type="submit" mat-raised-button color="primary">Create</button>
    </form>
  </div>
</div>
