h2{
  text-align: center;
}

.container {

  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* border:1px solid black */
}

.container form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.container form mat-form-field {
  margin-bottom: 10px;
}

.container form button {
  margin-top: 10px;
}
