.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f7f7f7;
  font-family: Arial, sans-serif;
}

h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

.song-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.song-item {
  display: flex;
  align-items: center;
  padding: 50px;
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 10px;
}

.song-item:hover {
  background-color: #f0f0f0;
}

.song-item > * {
  margin-right: 10px;
}

.delete-button,
.edit-button {
  padding: 5px;
  border-radius: 50%;
  background-color: #eee;
  color: #333;
  transition: background-color 0.3s;
}

.delete-button:hover,
.edit-button:hover {
  background-color: #ccc;
}

.playlist-select {
  margin-left: auto;
}

.mat-form-field {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.mat-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.mat-button:hover {
  background-color: #555;
}

.container-song-item{
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-container{
  display: flex;
  /* justify-self: end; */
  /* justify-content: space-between; */
  align-items: center;
  margin-left: 50px;
}