<div class="container">
  <h2>{{ mode === "create" ? "Create Playlist" : "Update Playlist" }}</h2>

  <form [formGroup]="playlistForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Name:</mat-label>
      <input matInput type="text" id="name" formControlName="name" />
      <mat-error
        *ngIf="
          playlistForm.controls['name'].touched &&
          playlistForm.controls['name'].hasError('required')
        "
      >
        Name is required
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Description:</mat-label>
      <textarea
        matInput
        id="description"
        formControlName="description"
      ></textarea>
      <mat-error
        *ngIf="
          playlistForm.controls['description'].touched &&
          playlistForm.controls['description'].hasError('required')
        "
      >
        Description is required
      </mat-error>
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="playlistForm.invalid"
    >
      {{ mode === "create" ? "Create Playlist" : "Update Playlist" }}
    </button>
  </form>
</div>
